* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #141414;
  color: #fff;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.app {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #141414 0%, #0f0f0f 100%);
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}